/*		MEDIAS		*/
@media (max-width: 992px) and (orientation: portrait){
}
@media (max-width: 992px) and (orientation: landscape) {
}
@media (max-width: 992px) {
}
@media (min-width: 992px) {
	section header h1{
		font-size: 400%;
	}
	.cont{
		margin-top: -3%;
	}
	.cont p{
		text-indent: 10%;
	}
}